.top-nav {
  border-bottom: lighten($brand-tan, 10%) solid 0.1rem;
  background: $brand-white;

  &__row {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin: 0;

    color: $brand-primary;

    font-family: $brand-serif;
    font-size: 3rem;
    font-weight: normal;
  }

  &__search {
    flex-grow: 1;

    margin-left: $gutter * 2;
  }
}

.user-nav {
  display: flex;
  align-items: center;

  &__item {
    margin: 0 $gutter;
    padding: $gutter;

    color: $brand-light-blue;

    &--btn {
      border: currentColor 0.1rem solid;
      border-radius: $brand-border-radius;
    }

    &--cart {
      border-left: $brand-light-gray solid 0.1rem;

      color: $brand-gray;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }
}

.cart-stack {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon {
    font-size: 2rem;
  }
}
