input {
  padding: ($gutter / 2) $gutter;

  border: $brand-tan solid 0.1rem;
  border-radius: $brand-border-radius;

  background: $brand-light-tan;

  font-size: 1.2rem;

  box-shadow: $inset-shadow;
}

.input-addon {
  display: flex;

  &__input {
    border-right: 0;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__btn {
    padding: ($gutter / 2) ($gutter * 2);
    border: 0;
    border-top-right-radius: $brand-border-radius;
    border-bottom-right-radius: $brand-border-radius;

    background: $brand-light-blue;
    color: $brand-white;
    font-size: 1rem;
  }
}
