$gutter: 0.6rem;

$brand-white: #fff;
$brand-primary: #f45800;
$brand-gray: #686868;
$brand-light-gray: #eaeaea;
$brand-tan: #cfcbc8;
$brand-light-tan: #f9f9f8;
$brand-light-blue: #0192b5;
$brand-background: #f5f5f1;

$brand-serif: Times, 'Times New Roman', serif;
$brand-sans-serif: Arial, sans-serif;

$brand-border-radius: 0.2rem;

$inset-shadow: inset 0 1px 2px lighten($brand-tan, 1%), 0 0 0 1000px $brand-light-tan inset;
